{% if include.last == true %}
<link rel="preload" as="style" href="{{ site.local.css | append: include.asset | prepend: site.baseurl_root }}" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous" media="all">
<noscript><link rel="stylesheet" href="{{ site.local.css | append: include.asset | prepend: site.baseurl_root }}"></noscript>
{% elsif include.rel %}
<link rel="{{ include.rel }}" as="style" href="{{ site.local.css | append: include.asset | prepend: site.baseurl_root }}" crossorigin="anonymous" media="all">
{% else %}
<link rel="stylesheet" href="{{ site.local.css | append: include.asset | prepend: site.baseurl_root }}" crossorigin="anonymous" media="all">
{% endif %}
