{% if include.plain == true %}
<script src="{{ site.local.javascript | append: include.asset | prepend: site.baseurl_root }}" crossorigin="anonymous"></script>
{% elsif include.rel %}
<link rel="{{ include.rel }}" href="{{ site.local.javascript | append: include.asset | prepend: site.baseurl_root }}" as="script" crossorigin="anonymous">
{% else %}
<script src="{{ site.local.javascript | append: include.asset | prepend: site.baseurl_root }}" crossorigin="anonymous"{% if include.async == true %} async{% else %} defer{% endif %}></script>
{% endif %}
