---
layout: default

seo:
  robots: noindex, nofollow

permalink: /404.html
---

<div class="container_404">
  <h1>404</h1>

  <p><strong>Page not found :(</strong></p>
  <p>The requested page could not be found.</p>
</div>
