---
layout: none
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Enviado com sucesso</title>
    {% include css.html %}
    <style>
        @import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
        @font-face{font-family:proxima-nova-soft;src:url(https://use.typekit.net/af/3bda4e/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/3bda4e/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/3bda4e/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:proxima-nova-soft;src:url(https://use.typekit.net/af/f21b4f/00000000000000000001743f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/f21b4f/00000000000000000001743f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/f21b4f/00000000000000000001743f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}
        body { background: #f1f1fa; font-family: 'proxima-nova-soft', sans-serif;}
        .success { color: #359173; }
        .ion { font-size: 4em; }
    </style>
</head>
<body>
    <div class="container my-5">
        <div>
            <div class="card text-center py-4">
                <div class="row">
                    <div class="col-12">
                        <i class="ion ion-thumbsup success"></i>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <h1 style="font-weight: 500; font-size: 1.8em;">{% t index.message-me.form-submit-success.phrase %}</h1>
                        <a href="{{ site.baseurl }}/" class="btn btn-outline-success" style="margin-top: 1em; font-weight: 600; font-size: 1em;">{% t index.message-me.form-submit-success.button %}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="mt-2" style="font-size: 0.9em;">
                        {% include sys/tr-anchor t='index.message-me.form-submit-success.footer' href='https://formspree.io/' %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
