---
layout: default
---
<section id="js-license" class="my-5">
  <div class="container">

    <h1 class="text-center">{% t footer-text.js-licenses %}</h1>

    <table id="jslicense-labels1" class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">{% t js-licenses.file %}</th>
          <th scope="col">{% t js-licenses.license %}</th>
          <th scope="col">{% t js-licenses.source %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/assets/js/lang.min.js">lang.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/lang.js">lang.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/myquery.min.js">myquery.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/myquery.js">myquery.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/scripts.min.js">scripts.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/scripts.js">scripts.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/blog-post-back-button.min.js">blog-post-back-button.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/blog-post-back-button.js">blog-post-back-button.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/blog-back-button-activate-sessionStorage.min.js">blog-back-button-activate-sessionStorage.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/blog-back-button-activate-sessionStorage.js">blog-back-button-activate-sessionStorage.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/md-form.min.js">md-form.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/md-form.js">md-form.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/form-input-formatter.min.js">form-input-formatter.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/form-input-formatter.js">form-input-formatter.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/form2mailto.min.js">form2mailto.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/form2mailto.js">form2mailto.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/index.min.js">index.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/index.js">index.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/prices.min.js">prices.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/prices.js">prices.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/zz-my-wow-config.min.js">zz-my-wow-config.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a></td>
          <td><a href="/assets/js/zz-my-wow-config.js">zz-my-wow-config.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/jarallax.min.js">jarallax.min.js</a></td>
          <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
          <td><a href="/assets/js/jarallax.js">jarallax.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/jarallax-video.min.js">jarallax-video.min.js</a></td>
          <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
          <td><a href="/assets/js/jarallax-video.js">jarallax-video.js</a></td>
        </tr>
        <tr>
          <td><a href="/assets/js/wow.min.js">wow.min.js</a></td>
          <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
          <td><a href="/assets/js/wow.js">wow.js</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
