---
layout: default

assets:
  css:
    - prices.css
  js:
    - prices.min.js
---

{%- capture base-price -%}
  {%- for item in site.data.price-product.base-price -%}
    {%- assign price = item.value | divided_by: item.duration-day | plus: price -%}
  {%- endfor -%}
{{- price -}}
{%- endcapture -%}


<section>

  <div class="pricing pricing-palden mb-5">
    {%- for product in site.data.price-product.product -%}
      {%- for add-value in product.additional-value -%}
        {%- assign additional-value-total = additional-value-total | plus: add-value -%}
      {%- endfor -%}

      {%- assign product-price = product.days-to-finish | times: base-price | plus: additional-value-total | ceil -%}

      {%- if site.data.tax.isention == false -%}
        {%- assign governament-price = product-price | divided_by: site.data.tax.percentage | plus: product-price -%}
      {%- else -%}
        {%- assign governament-price = product-price -%}
      {%- endif -%}

      {%- assign additional-value-total = 0 -%}

      {%- assign product-text = site.translations[site.lang]['product-name'][product.id] -%}

      {%- capture price-rounded -%}
        {%- include sys/round-by-5 number=governament-price -%}
      {%- endcapture -%}

      {% assign product-class = '' %}

      {%- if forloop.index0 == 0 -%}
        {% assign product-class = 'pricing__item--featured' %}
      {%- endif -%}

      {% include component/price-card.html title=product-text.name features=product-text.features price=price-rounded class=product-class %}

    {%- endfor -%}
  </div>

  <div class="notes-container pricing-palden">
    <div class="pricing-item">
      <ul class="pricing-feature-list pricing-note-list">

        <li style="margin-bottom:12px;">
	  <span>
            {%- if site.data.tax.isention == true -%}
              {{ site.translations[site.lang]['product-name']['note-tax-off'] }}
            {%- else -%}
              {{ site.translations[site.lang]['product-name']['note-tax-on'] }}
	    {%- endif -%}
	  </span>
	</li>

	{% for note in site.translations[site.lang]['product-name']['notes'] %}
	<li>
	  <span>
	    <sup>{{ forloop.index }}</sup>
	    {{ note }}
	  </span>
	</li>
	{% endfor %}

      </ul>
    </div>
  </div>

</section>
