---
layout: default

assets:
  css:
    - mdb-pro.css
    - project.css
---

<h1 class="text-center my-5">{% t projects.title %}</h1>

<div class="row mt-1 d-flex justify-content-center">

  {%- for project in site.data.projects -%}
  <div class="col-lg-8 col-md-12 mb-5">

    <!--Card-->
    <div class="card card-cascade wider mb-4">

      <!--Card image-->
      <div class="view view-cascade">
        {%- assign imgSrc = site.local.image | append: 'projects/' | append: project.img.filename -%}
        {%- assign altText = project.name | append: ' logo' -%}
        {% include element/img.html lazy='true' src=imgSrc height=240 width-original=project.img.original-width class='card-img-top' alt=altText %}
        <a target="_blank" rel="noopener" href="{{ project.url }}">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center">
        
        <!--Title-->
        <div class="row">
            <div class="col-12">
                <h4 class="card-title"><strong>{{ project.name }}</strong></h4>
                <h5 class="indigo-text">{% t projects.package %}:&nbsp;<strong>{{ site.translations[site.lang]['product-name'][project.plan-id]['name'] }}</strong></h5>
            </div>
            <div class="col-12 col-sm-2 project-icons-group">
                <a class="project-icon icon-page-speed" target="_blank" rel="noopener" href="https://developers.google.com/speed/pagespeed/insights/?url={{ project.lighthouse-url | default: project.url | uri_escape }}"></a>
                <a class="project-icon icon-w3c-validation" target="_blank" rel="noopener" href="https://datayze.com/site-validator?domain={{ project.url | uri_escape }}"></a>
            </div>
        </div>
        <hr>

        <p class="card-text">{{ site.translations[site.lang]['projects']['text'][forloop.index0] }}</p>

        <div class="social-button-links">
          {%- for social in project.social -%}
            <a class="mx-1 icon-{{ social[0] }}" target="_blank" rel="noopener" href="{{ social[1] }}"></a>
          {%- endfor -%}
        </div>
        
        <a href="{{ project.url }}" target="_blank" rel="noopener" class="mt-2 website-link d-flex justify-content-end icon-arrow-after">{% t projects.link %}&nbsp;</a>
      </div>
      <!--/.Card content-->
      
    </div>
    <!--/.Card-->
    
  </div>
  {%- endfor -%}
  
</div>
