<div class="col-12 col-sm-6 col-lg-4 mt-4 d-flex align-items-stretch">
  <div class="card w-100">
    <!--Card image-->
    <div class="view overlay">
      {% assign img = post.photo.filename | default: 'default.jpg' -%}
      {%- assign image-path = site.local.image | append: 'blog/' | append: img -%}
      {%- assign altText = post.photo.alt | default: 'default post image because there is not any' -%}
      {%- include element/img.html lazy='true' src=image-path height=240 width-original=1280 class='card-img-top' alt=altText %}
        <div class="mask rgba-white-slight"></div>
    </div>

    <!--Card content-->
    <div class="card-body d-flex flex-column">

      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">{{ post.excerpt | strip_html | truncate: 183 }}</p>
      <a class="btn btn-light-blue btn-md card-footer mt-auto mx-auto" href="{{ post.url | relative_url }}">{% t blog.card_button %}</a>
    </div>
  </div>
</div>
