{%- capture caption -%}
{% include sys/tr-anchor t='component.blog-img' href=include.src %}
{%- endcapture -%}
{%- capture license-anchor -%}
<a href="{{ include.license-link }}">{{ include.license-name }}</a>
{%- endcapture -%}
<div class="blog-img-component mb-3">
  {% include element/img-responsive.html lazy=true src=include.src width-original=include.width-original alt=include.alt %}
  <p class="font-italic text-center mt-2">{{- caption | replace: '<A2>', license-anchor -}}</p>
</div>
