{%- assign authorID = include.author -%}
{%- assign author = site.data.author[authorID] -%}

<div class="plx-card silver">
  <div class="pxc-bg" style="background-image:url('{{ author.background-image }}');"></div>
  <div class="pxc-avatar">
    {% capture my-name -%}
        {%- include element/full-name.txt -%}
    {%- endcapture -%}
    {%- assign authorName = author.name | default: my-name -%}
    {%- capture altText -%}
        {%- include sys/tr t='blog.authorcard-photo-alttext' 1=authorName -%}
    {%- endcapture -%}
    {%- include element/img.html lazy='true' src=author.photo.file height=150 width-original=author.photo.original-width alt=altText %}
  </div>
  <div class="pxc-subcard" style="background:{{ author.background-color }};">
    {%- capture my-name -%}
    {%- include element/full-name.txt -%}
    {%- endcapture -%}
    <div class="pxc-title">{{ author.name | default: my-name }}</div>
    <div class="pxc-sub" style="color:{{author.text-color}};">{{ site.translations[site.lang]['blog-post-author-card-text'][authorID] }}</div>
    <div class="bottom-row">
      <div class="links social-button-links">
        {%- if author.sites.me == true -%}
          {%- assign authorLinks = site.data.social -%}
          <a class="icon-website mx-2" target="_blank" rel="noopener" href="{{ site.url }}"></a>
        {%- else -%}
          {%- assign authorLinks = author.sites -%}
        {%- endif -%}

        {%- for sites in authorLinks -%}
          <a class="icon-{{ sites[0] }} mx-2" target="_blank" rel="noopener" href="{{ sites[1] }}"></a>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
