<footer class="page-footer footer-color lighten-1 center-on-small-only b-theme">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex">
        {% include social.html %}
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      <ul>
        {% capture my-name -%}
          {%- include element/full-name.txt -%}
        {%- endcapture %}
        {% capture my-code -%}
          {% t footer-text.author %}
        {%- endcapture %}
        <li class="fire">
          {{ my-code | replace: '<1>', '<span class="year"></span>' | replace: '<2>', my-name }}
        </li>
        {% capture rights -%}
          {%- t footer-text.rights-text -%}
        {%- endcapture %}
        {% capture url-code-repo-link -%}
          <a href="{{ site.repo.url }}">{{ site.repo.host }}</a>
        {%- endcapture %}
        {% capture jslicenses-link -%}
          <a href="{{ site.baseurl }}/javascript/" data-jslicense="1">{% t footer-text.js-licenses %}</a>
        {%- endcapture %}
        <li>
          {{ jslicenses-link }}. {{ rights | replace: '<A>', url-code-repo-link }}
        </li>
      </ul>
    </div>
  </div>
</footer>
