<div style="display: none;" class="h-card">

    <!-- About me -->
    <span class="p-name">{% include element/full-name.txt %}</span>
    <span class="p-note">{{ site.translations[site.lang].index.about.text }}</span>
    <span class="dt-bday">{{ site.date-born }}</span>

    <!-- Profile picture -->
    <img loading="lazy" class="u-photo" src="{{ site.url }}/assets/img/generated/me-logo.webp" alt="myself in real life" />

    <!-- My location -->
    <span class="p-locality">{{ site.location.city }}</span>
    <span class="p-country-name">{{ site.location.country }}</span>

    <!-- Links -->
    <a class="u-url u-uid" href="{{ site.url }}"></a>
    <a class="u-email" rel="me" href="mailto:{{ site.email }}"></a>

    {% for social in site.data.social %}
    <a class="u-url" rel="me" href="{{ social[1] }}"></a>
    {% endfor %}

    <!-- Categories -->
    <span class="p-category">Portuguese</span>
    <span class="p-category">English</span>
    <span class="p-category">GNU</span>
    <span class="p-category">Other</span>

</div>
