<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin-right:-5px;background:transparent;vertical-align:sub;" width="36px" height="36px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
    <rect x="19" y="19" width="20" height="20" fill="#f5076a">
        <animate attributeName="fill" values="#ecec4c;#f5076a;#f5076a" keyTimes="0;0.125;1" dur="1.176470588235294s" repeatCount="indefinite" begin="0s" calcMode="discrete"></animate>
    </rect>
    <rect x="40" y="19" width="20" height="20" fill="#f5076a">
        <animate attributeName="fill" values="#ecec4c;#f5076a;#f5076a" keyTimes="0;0.125;1" dur="1.176470588235294s" repeatCount="indefinite" begin="0.14705882352941174s" calcMode="discrete"></animate>
    </rect>
    <rect x="61" y="19" width="20" height="20" fill="#f5076a">
        <animate attributeName="fill" values="#ecec4c;#f5076a;#f5076a" keyTimes="0;0.125;1" dur="1.176470588235294s" repeatCount="indefinite" begin="0.2941176470588235s" calcMode="discrete"></animate>
    </rect>
    <rect x="19" y="40" width="20" height="20" fill="#f5076a">
        <animate attributeName="fill" values="#ecec4c;#f5076a;#f5076a" keyTimes="0;0.125;1" dur="1.176470588235294s" repeatCount="indefinite" begin="1.0294117647058822s" calcMode="discrete"></animate>
    </rect>
    <rect x="61" y="40" width="20" height="20" fill="#f5076a">
        <animate attributeName="fill" values="#ecec4c;#f5076a;#f5076a" keyTimes="0;0.125;1" dur="1.176470588235294s" repeatCount="indefinite" begin="0.4411764705882352s" calcMode="discrete"></animate>
    </rect>
    <rect x="19" y="61" width="20" height="20" fill="#f5076a">
        <animate attributeName="fill" values="#ecec4c;#f5076a;#f5076a" keyTimes="0;0.125;1" dur="1.176470588235294s" repeatCount="indefinite" begin="0.8823529411764705s" calcMode="discrete"></animate>
    </rect>
    <rect x="40" y="61" width="20" height="20" fill="#f5076a">
        <animate attributeName="fill" values="#ecec4c;#f5076a;#f5076a" keyTimes="0;0.125;1" dur="1.176470588235294s" repeatCount="indefinite" begin="0.7352941176470588s" calcMode="discrete"></animate>
    </rect>
    <rect x="61" y="61" width="20" height="20" fill="#f5076a">
        <animate attributeName="fill" values="#ecec4c;#f5076a;#f5076a" keyTimes="0;0.125;1" dur="1.176470588235294s" repeatCount="indefinite" begin="0.588235294117647s" calcMode="discrete"></animate>
    </rect>
</svg>
