<nav id="topbar" class="navbar navbar-expand-lg navbar-dark fixed-top navbar-color darken-1 navbar-scroll-effect text-center b-theme">
    <!-- Navbar brand -->
    {% capture my-name -%}
    {%- include element/full-name.txt -%}
    {%- endcapture %}
    <a class="navbar-brand py-0 ml-md-1 ml-lg-2" rel="author" href="{{ site.baseurl }}/#topbar">
      {%- assign altText = my-name | append: ' logo' -%}
      {%- include element/img.html class='mr-2' src='me-logo.png' height=38 width-original=250 alt=altText -%}
      {{- my-name | escape -}}
    </a>

    <!-- Collapse button -->
    <div role="button" class="navbar-toggler hamburger-neo" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="sr-only"></span>
    </div>

    <input type="checkbox" id="checkbox-menu-toggle" class="d-none" style="display: none;">

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse animate slideIn" id="navbarSupportedContent">

      <ul class="nav navbar-nav ml-lg-auto">

        <!-- Links index anchor -->
        {%- for item in site.translations[site.lang]["menu"]["anchor"] -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#{{ item[0] }}">{{ item[1] }}</a>
        </li>
        {%- endfor -%}

        {%- for item in site.translations[site.lang]["menu"]["pages"] -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/{{ item[0] }}">{{ item[1] }}</a>
        </li>
        {%- endfor -%}

        {%- for item in site.translations[site.lang]["menu"]["pages-new-window"] -%}
        <li class="nav-item">
          <a class="nav-link" target="_blank" rel="noopener" href="{{ site.baseurl }}/{{ item[0] }}">{{ item[1] }}</a>
        </li>
        {%- endfor -%}

        {%- comment -%}
        the .html wants to refer to any second and beyond blog pagination page. I believe it is the i18n plugin error. It should be blog.md instead
        {%- endcomment -%}
        {%- if page.layout == "post" or page.name == ".html" -%}
        {%- assign current_page = "/blog/" -%}
        {%- else -%}
        {%- assign current_page = page.url | remove: "index.html" -%}
        {%- endif -%}


        {%- capture langs_tmp -%}
          {%- for lang in site.languages -%}
              {%- if lang != site.lang-%}
              {{ lang }}
              {%- if forloop.last != true -%},{%- endif -%}
              {%- endif -%}
          {%- endfor -%}
        {%- endcapture -%}
        {%- assign langs = langs_tmp | split: ',' -%}

        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" href="javascript:void(0)">
            {%- assign flagSrc = site.local.image | append: 'flags/' | append: site.lang | append: '.webp' -%}
            {%- assign flagAlt = site.lang | append: ' flag' -%}
            {%- include element/img.html src=flagSrc height=24 width-original=24 alt=flagAlt %}
          </a>
          <div class="dropdown-menu navbar-color text-center" role="menu">

            {%- comment -%}
              curl -s https://www.countryflags.io/[lang]/shiny/24.png -o [lang].png
            {%- endcomment -%}
            {% for lang in langs %}
                <a class="dropdown-item" href="{%- if lang != site.languages[0] -%}/{{ lang }}{%- endif -%}{{ current_page }}?languageRedirection=no" hreflang="{{ lang }}">
                {%- assign flagSrc = site.local.image | append: 'flags/' | append: lang | append: '.webp' -%}
                {%- assign flagAlt = lang | append: ' flag' -%}
                {%- include element/img.html src=flagSrc height=24 width-original=24 alt=flagAlt %}
                </a>
            {% endfor %}

          </div>
        </li>

      </ul>
      <!-- Links -->
    <!-- Collapsible content -->
  </div>
</nav>
