<div class="video-component mx-lg-5 mb-3">
  <div class="text-center embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" sandbox="allow-scripts" src="{{ include.video }}?warningTitle=0" allowfullscreen style="border: 0px;"></iframe>
  </div>
  <p class="font-italic text-center mt-2">
    {% include sys/tr-anchor t='component.peertube-video' href=include.video-page %}
  </p>
</div>
