{%- assign cloud-color = '#FFFFFF'-%}

<div class='pricing-item {{ include.class }}'>
  <div class='pricing-deco'>
    <svg class='pricing-deco-img' enable-background='new 0 0 300 100' height='100px' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
      <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729&#x000A;   c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='{{ cloud-color }}' opacity='0.6'></path>
      <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729&#x000A;  c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='{{ cloud-color }}' opacity='0.6'></path>
      <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716&#x000A;      H42.401L43.415,98.342z' fill='{{ cloud-color }}' opacity='0.7'></path>
      <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428&#x000A;   c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='{{ cloud-color }}'></path>
    </svg>
    <div class='pricing-price'>
      <div class='fiat'>
        <span class='currency-value'>{{ include.price }}</span><span class='pricing-currency'>€</span>
      </div>
      <div class='crypto'>
        <div class='bitcoin'>
          <a class='currency-value currency-loading' href='bitcoin:{{ site.data.money-accounts.bitcoin }}'></a>
          <span>μBTC</span>
        </div>
        <!--
            <div class='iota'>
              <a class='currency-value currency-loading' href='iota://{{ site.data.money-accounts.iota }}'></a>
              <span>MIOTA</span>
            </div>
            -->
      </div>
    </div>
    <h3 class='pricing-title'>{{ include.title }}</h3>
  </div>
  <ul class='pricing-feature-list'>
    {% for feature in include.features %}
    <li class='pricing-feature'>
      <span>{{ feature | replace: '(1)', '<sup>1</sup>' | replace: '(2)', '<sup>2</sup>' }}</span>
    </li>
    {% endfor %}
  </ul>
  <a class='pricing-action' href="{{ site.baseurl }}/contact/?theme=dark">{% t product-name.button %}</a>
</div>
