<div class="video-component mx-lg-5 mb-3">
  <div class="text-center embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://yewtu.be/embed/{{ include.video }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  {%- capture videoLink -%}https://yewtu.be/watch?v={{ include.video }}{%- endcapture -%}
  <p class="font-italic text-center mt-2">
    {% include sys/tr-anchor t='component.youtube-video' href=videoLink %}
  </p>
</div>
