<p class="text-center font-italic mt-4">
    {%- capture subjectTr -%}
        {%- t index.message-me.email-message_subject -%}
    {%- endcapture- %}
    {%- assign subject = subjectTr | uri_escape -%}
    {%- assign mailToLink = 'mailto:' | append: site.email | append: '?subject=' | append: subject -%}
    {%- assign mailToAnchor = '<a class="font-weight-normal" href="' | append: mailToLink | append: '">' | append: site.email | append: '</a>' -%}
    {%- include sys/tr t='index.message-me.email-message' 1=mailToAnchor -%}
</p>

<ul class="mt-4 mb-5">
  <li><i>{%- t index.contact.key.insecure -%}</i>: {{ site.data.key.insecure }}</li>
  <li><i>{%- t index.contact.key.secure -%}</i>: {{ site.data.key.secure }}</li>
</ul>
