<!-- FAVICON (https://realfavicongenerator.net/) -->
<link rel="shortcut icon" href="/favicon.ico?v=Gvb70XbJ3q">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=Gvb70XbJ3q">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=Gvb70XbJ3q">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=Gvb70XbJ3q">
<link rel="manifest" href="/assets/favicon/site.webmanifest?v=Gvb70XbJ3q">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=Gvb70XbJ3q" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="{% include element/full-name.txt %}">
<meta name="application-name" content="{% include element/full-name.txt %}">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=Gvb70XbJ3q">
<meta name="theme-color" content="#5d6160">
