<meta charset="utf-8">
{% if page.zoom == true %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% else %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
{% endif %}
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{%- include element/title.txt -%}</title>

<!-- hreflangs -->
{% include hreflangs.html %}
<!-- favicon -->
{% include favicon.html %}
<!-- javascripts -->
{% include javascripts.html %}
<!-- seo -->
{% include seo/seo.html %}
<!-- fonts preload -->
{% include fonts-preload.html %}
<!-- css -->
{% include css.html %}

<link rel="alternate" type="application/atom+xml" title="{% include element/full-name.txt %}" href="{{ site.baseurl | append: '/feed.xml' }}">

{% if site.google_analytics.enabled and jekyll.environment == 'production' %}
{% include google-analytics.html %}
{% endif %}
