<section class="my-5" id="contact">
  <div class="container">
    <h1 class="text-center">{% t index.message-me.title %}</h1>
    {% include email-message.html %}
    <form data-email="{{ site.email }}">
      <!-- <input type="hidden" name="_language" value="{% if site.lang == 'pt' %}pt-PT{% else %}{{ site.lang }}{% endif %}"> -->
      <!-- <input type="hidden" name="_next" value="{{ site.baseurl }}/form-success/"> -->
      <div class="md-form">
        <i class="fa-user prefix grey-text"></i>
        <input type="text" name="name" class="form-control" required>
        <label>{% t index.message-me.fields.name %}</label>
      </div>
      <div class="md-form">
        <i class="fa-gender prefix grey-text"></i>
        <input type="text" name="_gotcha" class="form-control">
        <label>{% t index.message-me.fields.gotcha %}</label>
      </div>
      <div class="md-form">
        <i class="fa-tag prefix grey-text"></i>
        <input type="text" name="_subject" class="form-control" required>
        <label>{% t index.message-me.fields.subject %}</label>
      </div>
      <div class="md-form">
        <i class="fa-pencil prefix grey-text"></i>
        <textarea name="message" class="md-textarea form-control" required style="height: 100px"></textarea>
        <label>{% t index.message-me.fields.message %}</label>
      </div>
      <div class="md-form">
        <div class="text-center">
          <button class="btn btn-info plane" type="button" data-alert="{% t index.message-me.alert %}">{% t index.message-me.button %}</button>
        </div>
      </div>

    </form>
  </div>
</section>
