<ul class="mx-auto footer-ul my-2">

  <div id="footer-js" style="display: none;">
    {%- for social in site.data.social -%}
    <li>
      <a class="btn icon-{{ social[0] }} u-url" rel="me noopener" target="_blank" href="{{ social[1] }}"></a>
    </li>
    {%- endfor -%}
    <li>
      <a class="btn icon-rss" rel="me noopener" type="application/atom+xml" href="{{ site.baseurl }}/feed.xml"></a>
    </li>
  </div>

  <script>document.getElementById('footer-js').removeAttribute("style");</script>

  <noscript>
    {%- for social in site.data.social -%}
    <li>
      <a rel="noopener" target="_blank" href="{{ social[1] }}">{{ social[0] }}</a>
    </li>
    {%- endfor -%}
    <li>
      <a rel="noopener" type="application/atom+xml" href="{{ site.baseurl }}/feed.xml">atom</a>
    </li>
  </noscript>

</ul>
