---
---

$navbar-color: rgba(0, 0, 0, .31);
$navbar-second-color: orange;

@import 'my-mixins';
@import 'navbar-color';

body {
  // clear body padding of navbar height
  padding-top: initial !important;
}

footer {
  .footer-color {
    background-color: $navbar-second-color;
  }
}

:root {
  --occupation-shadow: #636363;
}

#occupation {
  color: white;
  @include stroke(2, var(--occupation-shadow));
}

