---
---

.md-form label.active {
    transform: translateY(-22px) scale(0.8);
}

form input[name=name] {
    text-transform: capitalize;
}

form input[name=gender] {
    opacity: 0;
    position: absolute;
}
