---
---

h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
    margin-top: 0.7em;
}

h1 {
    margin-bottom: 0.18em;
    margin-top: 0.635em;
}

#category-text {
    margin-top: 1.67rem;
}

.image-rights-text {
    font-style: italic;
}

.img-my-fluid {
    max-height: 314px;
}

@import "blog-author-card";
