---
---

$navbar-color: #2E2E2E;
$navbar-second-color: orange;

@import "navbar-color";

footer.footer-color {
  background-color: $navbar-color;
}

section {
	padding: 2em 0 8em;
	min-height: 100vh;
	position: relative;
	background-color: #3F729B;
}

.pricing {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto 3em;
	&-item{
		position: relative;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		text-align: center;
		-webkit-flex: 0 1 330px;
		flex: 0 1 330px;
	}
	&-action{
		color: inherit;
		border: none;
		background: none;
		&:focus{
			outline: none;
		}
	}
}

.pricing-feature-list {
	text-align: left;
}

.pricing-palden .pricing-item {
	font-family: sans-serif;
	cursor: default;
	color: #424242;
	background: #fff;
	box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
	border-radius: 20px 20px 10px 10px;
	margin: 1em;
}

@media screen and (min-width: 66.250em) {
	.pricing-palden .pricing-item {
		margin: 1em -0.5em;
	}
	.pricing-palden .pricing__item--featured {
		margin: 0;
		z-index: 10;
		box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
	}
}
.pricing-palden {
	.pricing-deco {
		border-radius: 10px 10px 0 0;
		background: #1C2331;
		padding: 4em 0 9em;
		position: relative;
	}
	.pricing-deco-img {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 160px;
	}
	.pricing-title {
		font-size: 0.75em;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: #fff;
	}
	.deco-layer {
		transition: transform 0.5s;
	}
	.pricing-item {
		&:hover{
			.deco-layer--1 {
				transform: translate3d(15px,0,0);
			}
			.deco-layer--2 {
				transform: translate3d(-15px,0,0);
			}
		}
	}
	.icon {
		font-size: 2.5em;
	}
	.pricing-price {
		margin-bottom: 1.9rem;
		font-size: 5em;
		font-weight: bold;
		padding: 0;
		color: #fff;
		line-height: 0.75;
		&:hover {
			color: #fff;
		}
	}
	.pricing-currency {
		font-size: 0.25em;
		vertical-align: top;

	}
	.pricing-period {
		font-size: 0.15em;
		padding: 0 0 0 0.5em;

		font-style: italic;
	}
	.pricing__sentence {
		font-weight: bold;
		margin: 0 0 1em 0;
		padding: 0 0 0.5em;
	}
	.pricing-feature-list {
		margin: 0;
		padding: 0.25em 0 2.5em;
		list-style: none;
		text-align: center;
	}
	.pricing-feature {
		padding: 1em 0;
	}
	.pricing-action {
		font-weight: bold;
		margin: auto 3em 2em 3em; 
		padding: 1em 2em;
		color: #fff;
		border-radius: 30px;
		background: #1C2331;
		transition: background-color 0.3s;
		&:hover, &:focus{
			background-color: #100A13;
		}
	}

}

.pricing-palden .pricing-item--featured .pricing-deco {
	padding: 5em 0 8.885em 0;
}

.notes-container {
	max-width: 362px;
	margin: 0 auto;
}

@media screen and (min-width: 725px) {
	.notes-container {
		max-width: 692px;
	}
}
@media screen and (min-width: 66.250em) {
	.notes-container {
		max-width: 990px;
	}
}

.pricing-palden .pricing-note-list {
	padding: 1.5em 0;
}

.fiat {
	margin-bottom: 1.3rem;
}

.crypto {
	div {
		margin-top: 0.7rem;
		font-size: 1.9rem;

		.currency-symbol {
			margin-left: 0.3rem;
		}	
	}

	.bitcoin, .iota {
		.currency-value {
			color: inherit;
			text-decoration: underline;
			
			&:hover {
				color: inherit;
			}
		}
		
        .currency-loading {
            text-decoration: unset;
        }
	}
}
