---
---
@import "../../fontawesome/scss/fontawesome.scss";
@import "../../fontawesome/scss/brands.scss";
@import "../../fontawesome/scss/solid.scss";

.icon-page-speed {
    @extend %fa-icon;
    @extend .fas;

    color: #0099CC;

    &:before {
        content: fa-content($fa-var-fighter-jet);
    }
}

.project-icon {
    font-size: 1.2rem;
    margin-left: 3px;
}

.icon-page-speed:hover {
    color: #0058b3;
}

.icon-w3c-validation {
    @extend %fa-icon;
    @extend .fas;

    color: #FF8800;

    &:before {
        content: fa-content($fa-var-code);
    }
}

.icon-w3c-validation:hover {
    color: #ff5200;
}


a.icon-arrow-after {
    @extend %fa-icon;
    @extend .fas;

    &:after {
        content: fa-content($fa-var-arrow-alt-circle-right);
    }
}

.website-link {
    color: #fd144a;

    &:hover {
        color: #fd141f;
    }
}

.project-social {
    a {
        font-size: 1.525rem;
        margin: 0 5px;
    }
}

@media (min-width: 576px) {
    .project-icons-group {
        position: absolute;
        right: 0;
        margin-right: 4px;
    }
}
