---
---

/*A map of breakpoints.*/
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

/*my variables*/

$navbar-color: orange;
$navbar-second-color: rgba(0,0,0,0.31);

$fontDir: "{{ site.local.fonts }}";

$numLangs: {{ site.languages.size }};

$navbarNumItems: {{ site.translations['pt']['menu']['anchor'].size | plus: site.translations['pt']['menu']['pages'].size | plus: site.translations['pt']['menu']['pages-new-window'].size | plus: site.languages.size }};

/*main*/

@import "my-fonts";
@import "my-mixins";

@import "style";
@import "nojquery-toggler";
@import "navbar-color";


footer.footer-color {
  background-color: $navbar-color;
}


@import "my-fontawesome-icons";

@import "hamburger-neo";
@import "navbar-uncss-fix";
