$c1: rgb(187, 187, 187);
$break-med: 992px;
$break-small: 768px;
$cardCol: #5959C2;

.plx-card {
  font-family: rounded, sans-serif;
  transition: all 600ms ease;
  max-width: 1100px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 30px 0;
  filter: drop-shadow(0 2px 1rem #112);
  border-radius: 4px;
}

@media screen and (min-width: $break-small) {
  .plx-card.silver {
    height: 150px;
    border-radius: 2px;
  }
}

@media screen and (max-width: $break-small) {
  .plx-card {
    height: auto;
    width: auto;
    flex-direction: column;
    border-radius: 2px;
    margin: 25px 15px;

    &.silver {
      height: 270px;
    }
  }
}

.pxc-avatar {
  transition: all 600ms ease;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 150px;
  justify-content: space-around;

  img {
    transition: all 600ms ease;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0 1px 1rem rgba(10, 10, 25, 0.5);
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: $break-small) {
  .pxc-avatar {
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
  }

  .silver .pxc-avatar img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -97px;
    right: 20px;
  }
}

@media screen and (max-width: $break-med) {
  .pxc-avatar img {
    width: 125px;
    height: 125px;
  }
}

@media screen and (max-width: $break-small) {
  .pxc-avatar img {
    margin-top: 100px;
  }
}

.pxc-bg {
  transition: all 600ms ease;
  border-radius: 2px;
  height: 100%;
  width: calc(100% - 75px);
  position: absolute;
  z-index: 0;
  pointer-events: none;
  left: 75px;
  background-size: 470px;
  background-position: right;
  background-color: #2b2b95;
}

@media screen and (max-width: $break-small) {
  .silver .pxc-bg {
    height: 60%;
    top: 30px;
  }
}

@media screen and (max-width: $break-med) {
  .pxc-bg {
    left: 50px;
    background-size: cover;
  }
}

@media screen and (max-width: $break-small) {
  .pxc-bg {
    left: 0;
    top: 0;
    height: 200px;
    width: 100%;
    border-radius: 0;
  }

  .silver .pxc-bg {
    background-position: top right;
  }
}

.pxc-subcard {
  transition: all 600ms ease;
  border-radius: 3px;
  width: 650px;
  margin: 25px 200px 25px -25px;
  z-index: 0;
  padding: 15px 25px 15px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1rem rgba(10, 10, 25, 0.3);
}

@media screen and (min-width: $break-small) {
  .silver .pxc-subcard {
    margin: 0 0 0 -75px;
    padding: 15px 25px 15px 90px;
  }
}

@media screen and (max-width: $break-small) {
  .silver .pxc-subcard {
    padding: 15px;
    margin: 5px;
    flex: 0 1 auto;
  }
}

@media screen and (max-width: $break-med) {
  .pxc-subcard {
    margin-right: 120px;
    margin-left: -32px;
  }
}

@media screen and (max-width: $break-small) {
  .pxc-subcard {
    margin: 25px 15px 30px 15px;
    padding: 60px 25px 20px;
    width: auto;
    height: auto;
    flex: 1 0 auto;
  }

  .silver .pxc-subcard {
    padding-top: 20px;
  }
}

.pxc-title {
  font-size: 24px;
  margin-bottom: 4px;
  color: white;
  width: calc(100% - 50px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 auto;
}

.silver .pxc-title {
  font-size: 18px;
}

@media screen and (max-width: $break-small) {
  .pxc-title {
    font-size: 16px;
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
  }
}

.pxc-sub {
  font-size: 14px;
  margin: 2px 0 8px 0;
  flex: 1 1 auto;
  overflow: hidden;
  color: $c1;
}

.silver .pxc-sub {
  overflow: visible;
}

@media screen and (max-width: $break-small) {
  .pxc-sub {
    font-size: 13px;
  }
}

.bottom-row {
  flex: 0 1 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 0;

  .pxc-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: $break-med) {
  .bottom-row {
    margin-top: 5px;
  }
}

@media screen and (max-width: $break-small) {
  .bottom-row {
    border-top: solid 1px rgba(255, 255, 255, 0.05);
    padding-top: 5px;
  }
}

.bronze .bottom-row .pxc-info {
  display: none;
}

@media screen and (max-width: $break-small) {
  .bottom-row .pxc-info {
    position: absolute;
    bottom: -28px;
    left: -10px;
    justify-content: space-between;
    width: 100%;

    .region {
      color: #112;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}

.bottom-row {
  
  height: 30px;
  padding-bottom: 10px;

  .region {
    color: white;
    margin-left: 8px;
  }
}
