@import "../../fontawesome/scss/fontawesome.scss";
@import "../../fontawesome/scss/solid.scss";

// conversejs fa

#conversejs .fa.fa-times{
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-times) !important;
    font-family: 'Font Awesome 5 Free' !important;
  }
}

#conversejs .fa.fa-info-circle {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-info-circle) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-arrow-left {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-arrow-left) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-minus {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-minus) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-id-card {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-id-card) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .far.fa-smile {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-smile) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-paperclip {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-paperclip) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-paper-plane {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-paper-plane) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-circle, #conversejs .far.fa-circle  {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-circle) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-list-ul {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-list-ul) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-plus {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-plus) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-caret-down {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-caret-down) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-sync {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-sync) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-user-plus {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-user-plus) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-user {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-user) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-users {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-users) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-minus-circle {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-minus-circle) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-check {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-check) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-pencil-alt {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-pencil-alt) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}

#conversejs .fa.fa-trash-alt {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-trash-alt) !important;
    font-family: 'Font Awesome 5 Free' !important;
  } 
}
