.hamburger-neo {
  width: 25px;
  height: 25px;
  position: relative;
  transition: .1s;
  margin-right: 7px;
  cursor: pointer;
  display: inline-block;
  span {
    width: 5px;
    height: 5px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
  }
}

.hamburger-neo[aria-expanded="false"] {
  span:nth-child(1) {
    left: 0;
    top: 0;
  }
  span:nth-child(2) {
    left: 10px;
    top: 0;
  }
  span:nth-child(3) {
    left: 20px;
    top: 0;
  }

  span:nth-child(4) {
    left: 0;
    top: 10px;
  }
  span:nth-child(5) {
    left: 10px;
    top: 10px;
  }
  span:nth-child(6) {
    left: 20px;
    top: 10px;
  }

  span:nth-child(7) {
    left: 0;
    top: 20px;
  }
  span:nth-child(8) {
    left: 10px;
    top: 20px;
  }
  span:nth-child(9) {
    left: 20px;
    top: 20px;
  }
}

.hamburger-neo[aria-expanded="true"] {
  span:nth-child(1) {
    left: 0;
    top: 0;
  }
  span:nth-child(2) {
    left: 5px;
    top: 5px;
  }
  span:nth-child(3) {
    left: 20px;
    top: 0;
  }

  span:nth-child(4) {
    left: 5px;
    top: 15px;
  }
  span:nth-child(5) {
    left: 10px;
    top: 10px;
  }
  span:nth-child(6) {
    left: 15px;
    top: 5px;
  }

  span:nth-child(7) {
    left: 0;
    top: 20px;
  }
  span:nth-child(8) {
    left: 15px;
    top: 15px;
  }
  span:nth-child(9) {
    left: 20px;
    top: 20px;
  }
}

.hamburger-neo span {
  border-radius: 50%;
  transition-delay: 200ms;
  background-color: rgba(255,255,255,0.767);
  transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.hamburger-neo:hover span {
  transform: scale(1.3);
  transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}

.hamburger-neo[aria-expanded="false"] {
  transform: rotate(180deg);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}