@import "../../fontawesome/scss/fontawesome.scss";
@import "../../fontawesome/scss/brands.scss";
@import "../../fontawesome/scss/solid.scss";
@import "../../fontawesome/scss/regular.scss";


@mixin brand-icon($content, $color) {
  @extend %fa-icon;
  @extend .fab;
  @extend .fa-lg;

  background-color: $color;
  color: $color;

  &:before {
    content: fa-content( #{$content} );
  }

  &:hover {
    color: darken($color, 13%);
  }
}

.icon-website {
  $color: #44ff52;

  @extend %fa-icon;
  @extend .fas;
  @extend .fa-lg;

  background-color: $color;
  color: $color;

  &:before {
    content: fa-content( $fa-var-globe-americas );
  }

  &:hover {
    color: darken($color, 17%);
  }
}

@mixin solid-icon($content, $color) {
  @extend %fa-icon;
  @extend .fas;
  @extend .fa-lg;

  background-color: $color;
  color: $color;

  &:before {
    content: fa-content( #{$content} );
  }

  &:hover {
    color: darken($color, 13%);
  }
}

.icon-linkedin {
  @include brand-icon($fa-var-linkedin-in, #0092e4);
}

.icon-github {
  @include brand-icon($fa-var-github, #333);
}

.icon-git {
  @include brand-icon($fa-var-git-alt, #f44d27);
}

.icon-stackoverflow {
  @include brand-icon($fa-var-stack-overflow, #ffac44);
}

.icon-mastodon {
  @include brand-icon($fa-var-mastodon, #3088D4);
}

.icon-peertube {
  @include brand-icon($fa-var-youtube, #000);
}

.icon-pixelfed {
  @include brand-icon($fa-var-instagram , #ff616a);
}

.icon-youtube {
  @include brand-icon($fa-var-youtube, #F41B0C);
}

.icon-instagram {
  @include brand-icon($fa-var-instagram, #F42364);
}

.icon-facebook {
  @include brand-icon($fa-var-facebook-square, #4267B2);
}

.icon-twitter {
  @include brand-icon($fa-var-twitter, #00ACEE);
}

.icon-dribbble {
  @include brand-icon($fa-var-dribbble, #D44376);
}

.icon-bitcoin {
  @include brand-icon($fa-var-bitcoin, #F7931A);
}

.icon-gitlab {
  @include brand-icon($fa-var-gitlab, #4A3781);
}

.icon-liberapay {
  @include solid-icon($fa-var-hand-holding-usd, #FBC02D);
}

.icon-rss {
  @include solid-icon($fa-var-rss, #E36E2D);
}


.fire:after {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-fire-alt);
  color: yellow;
}

.file-pdf:before {
  @extend %fa-icon;
  @extend .far;
  content: fa-content($fa-var-file-pdf);
}

.fa-user:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-user);
}

.fa-envelope:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-envelope);
}

.fa-gender:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-book-dead);
}

.fa-tag:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-tag);
}

.fa-pencil:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-pencil-alt);
}

.plane:after {
  @extend %fa-icon;
  @extend .fas;
  margin-left: 5px;
  content: fa-content($fa-var-plane-departure);
}

.wink-after:after {
  @extend %fa-icon;
  @extend .fas;
  margin-left: 5px;
  content: fa-content($fa-var-grin-wink);
  color: #fbe695;
}

.quote-left:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-quote-left);
}
