// my fonts
@font-face {
    font-family: 'Indie Flower';
    src: url($fontDir + 'indie-flower/indie-flower.woff2') format('woff2'),
         url($fontDir + 'indie-flower/indie-flower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
