.navbar-color {
  background: $navbar-color;
}

.navbar-second-color {
  background: $navbar-second-color;
}

li.dropdown {
  div.dropdown-menu {
    filter: brightness(110%);
  }

  div.dropdown-menu.navbar-color a.dropdown-item:hover {
      background-color: darken($navbar-color, 10%)
  }
  
  div.dropdown-menu.navbar-second-color a.dropdown-item:hover {
      background-color: darken($navbar-second-color, 10%)
  }

}
