@mixin maxHeight() {

    $itemHeight: 41px;

    $totalItemsHeight: $itemHeight * ($navbarNumItems + $numLangs);

    max-height: $totalItemsHeight;
}

label[for=checkbox-menu-toggle] {
cursor: pointer;
margin-bottom: 0px;
}

.dropdown-menu.show {
display: block;
}

.navbar-collapse {
    display: block;
    
    // this is because toggled navbar height may pass the full height of the screen. it fixes this by adding other column
    ul.nav {
        max-height: 85vh;
    }
}

@media (max-width: 991.98px) {

    #checkbox-menu-toggle + .navbar-collapse {
        overflow: hidden;
        transition: max-height 777ms ease;
    }

    #checkbox-menu-toggle:not(:checked) + .navbar-collapse {
        max-height: 0;
    }

    #checkbox-menu-toggle:checked + .navbar-collapse {
        @include maxHeight();
    }

}
