.social-button-links {
  a {
    background-color: transparent;
  }
}

// navbar
.navbar-brand img {
  height: 39px;
}

.md-form i {
  text-align: center;
  margin-right: 14px;
}

// footer on the bottom
//footer {
//  bottom: 0;
//  position: absolute;
//  width: 100%;
//}

body {
  // height of navbar
  padding-top: 55px;

  position: relative;
  min-height: 100%;
}

html {
  height: 100%;
}

//end footer bottom

iframe {
  border-width: 0px;
}

.navbar-anchor { display: block; position: relative; top: -56px; visibility: hidden; }

.mb-45 {
  margin-bottom: 2rem !important;
}
.my-45 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.cor2-text {
  color: #666666;
}

/* JARALLAX */
.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax .jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

:root {
  --serviceIndexBackgroundColor: #457ca8;
  --serviceIndexImageBorderColor: #e6ff31;
  --serviceIndexImageText: #fffff9;
  --serviceIndexImageTitle: #34DFCE;
  --serviceIndexImageDivide: #e6ff31;
}

#service {
  background-color: var(--serviceIndexBackgroundColor);
}

.serviceCardTitle {
  color: var(--serviceIndexImageTitle);
}

.serviceDivide {
  width: 50px;
  border-bottom: 1px solid var(--serviceIndexImageDivide);
}

.serviceCardText {
  color: var(--serviceIndexImageText);
}


#service img {
  max-width: 100px;
  border: 5px solid var(--serviceIndexImageBorderColor);
  padding: 6px;
  position: relative;
}

@media (min-width: 768px) {
  .serviceBox {
    margin-top: -30px;
  }
}

.servicesCircle {
  background-color: var(--serviceIndexBackgroundColor);
  width: 112px;
  height: 118px;
  text-align: center;
  border-radius: 56px;
  position: relative;
  bottom: 7px;
}

.handwrite {
  font-family: 'Indie Flower', cursive;
}

.title-skills {
  color: #5bc0de;
  font-weight: 600;
  margin-bottom: 0.2rem;
  text-shadow: 1px 0 0 #5d5d5d, -1px 0 0 #5d5d5d, 0 1px 0 #5d5d5d, 0 -1px 0 #5d5d5d, 1px 1px #5d5d5d, -1px -1px 0 #5d5d5d, 1px -1px 0 #5d5d5d, -1px 1px 0 #5d5d5d;
}
.skill-txt {
  font-weight: 300;
}
.progress__label {
  color: #21272d;
  font-weight: 500;
}

/* carousel */
.carousel-control-prev:before {
	content: "\2039";
	font-size: 5rem;
	color: rgba(0,0,0,.8);
}

.carousel-control-next:before {
	content: "\203a";
	font-size: 5rem;
	color: rgba(0,0,0,.8);
}
.carousel-control {
	top: 50%;
	display: block;
}

.testimonial p {
	color: #666;
}

.testimonial {
	margin-left: 15%;
	margin-right: 15%;
}

.testimonial h4 {
	font-weight: 500;
	font-style: italic;
}

.testimonial img {
	max-width: 170px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.avatar {
	margin-bottom: 2rem;
}

/* curriculum */
@media (max-width: 575px) {
  .display-2 {
    font-size: 3.1rem;
  }
}

.footer-ul {
  margin-bottom: 0px;
  li {
    display: inline-block;
    a {
      color: white;
    }
  }
}


footer.page-footer {
    margin-top: unset;

    .footer-copyright {
        font-weight: 400;
        height: auto;
        line-height: 14px;
        div {
            margin-top: 0.88rem;
            margin-bottom: 0.88rem;
            ul {
            margin-bottom: 0;
            li {
                margin-bottom: 7px;
            }
            }
        }
    }
}
/* OTHERS */

/* Spaces fix in navbar container with bootstrap beta 4 */
@media (max-width: 991px) {
	.navbar-expand-lg .container {
		max-width: 100%;
	}
}

/* scroll color */
.navbar-scroll-effect {
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

@media (min-width: 992px) {
  .post-img {
    height: 60vh;
  }
}

html {
  scroll-behavior: smooth;
}

.font-weight-normal {
  font-style: normal;
}

.embed-responsive.embed-responsive-16by9 {
  width: unset;
}

#contact-front {
  background-color: #B7CEE8;
}

.btn-intro-2 {
  background-color: #ff82b2;
}

.firstname {
  color: #82ff9d !important;
}

.lastname {
  color: #e6ff31 !important;
}

.text-me {
  color: #424f60 !important;
}

.text-do {
  color: #7bbb56 !important;
}

.about-title {
  color: #ad727a !important;
  font-weight: 600;
}

.comments-title {
  color: #dd5b71 !important;
}

.comments-author {
  color: #393939 !important;
}

.text-cv strong {
  color: #8fde5b !important;
}

.btn-outline-service {
  margin-top: 2.23rem !important;
  margin-bottom: 1.5rem !important;
  border: 4px solid #fff;
  color: #000 !important;
  background-color: transparent;
  font-weight: 400;
}
.btn-outline-service:hover {
  border-color: #000 !important;
  color: #fff !important;
  font-weight: 400;
}

.btn-outline-cv {
  border: 4px solid #fff;
  color: #000 !important;
  background-color: transparent;
  font-weight: inherit;
}
.btn-outline-cv:hover {
  border-color: #000 !important;
  color: #fff !important;
  font-weight: 400;
}

.btn-outline-contact {
  border: 4px solid #cfbca3;
  color: #000 !important;
  background-color: transparent;
  font-weight: inherit;
}
.btn-outline-contact:hover {
  border-color: #717171 !important;
  color: #421e04 !important;
  font-weight: 400;
}

.btn-outline-blog-contact {
  border: 4px solid darken(#fbac95, 10%);
  color: #000 !important;
  background-color: transparent;
  font-weight: inherit;
}
.btn-outline-blog-contact:hover {
  border-color: darken(#fbac95, 14%) !important;
  color: #1e1e1e !important;
  font-weight: 400;
}

// html is being inject by jquery of mdb :/
.mask {
  cursor: unset !important;
}

// 404 PAGE
.container_404 {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;

  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
}

// card item image height uniformed and personally ajusted
@media (min-width: 576px) {
  .card-img-top {
      width: 100%;
      height: 212px;
      object-fit: cover;
  }
}
@media (min-width: 768px) {
  .card-img-top {
      width: 100%;
      height: 222px;
      object-fit: cover;
  }
}
@media (min-width: 992px) {
  .card-img-top {
      width: 100%;
      height: 240px;
      object-fit: cover;
  }
}

// navbar dropdown css
.dropdown-menu {
  min-width: unset;
  padding-bottom: 0px;
}

@include below(md) {
  .navbar .nav-item .dropdown-menu {
    position: static !important;
    float: none !important;
  }
}

.dropdown-item {
  padding-bottom: 0px;
}

// end navbar dropdown css

// round button

.round-button {
  border-radius: 12px;
}

.img-my-fluid {
  max-width: 100%;
  object-fit: contain;
}
