---
layout: default
---
<div class="container my-5">
	<header class="text-center">
		<h1>{% t blog.series %}</h1>
	</header>
	<div class="mt-5">
		<ul class="category-list list-unstyled text-center">
			{% for category in site.categories %}
			<li class="my-1">
				<h3>
					<a class="post-link" href="{{ category | first | prepend: site.category_url | prepend: site.baseurl }}">{{ category | first | capitalize }}</a>
				</h3>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
