<section class="py-5" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-4 my-auto wow slideInLeft" data-wow-delay="0.4s">
        <h2 class="mb-3 mt-2 handwrite about-title"><u>{% t index.about.title %}</u></h2>
        <p>{% t index.about.text %}</p>
      </div>
      <div class="col-md-6 my-auto wow slideInLeft" data-wow-delay="0.4s">
        {%- capture name -%}
        {%- include element/full-name.txt -%}
        {%- endcapture -%}
        {%- assign altText = name | append: "'s most beautiful face" -%}
        
        {% include element/img.html lazy='true' src='me.jpg' height=450 width-original=600 class='img-fluid d-block mx-auto my-auto rounded-circle' alt=altText %}
      </div>
    </div>
  </div>
</section>
