<section id="blog-posts-front" style="height: 510px;">
  <div class="view hm-white-light">
    {% include element/img.html class='w-100' lazy='true'
    src='/assets/img/writing.jpg' height=510 width-original=1280
    alt='yellow shirt person, writing on a book' %}
    <div class="mask">
      <div class="container flex-center">
        <div class="row mt-5 py-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="text-center">
              <h2 class="display-2 mb-2 contact-text">
                {% t index.blog-contact.title %}
                <span class="wink-after"></span>
              </h2>
              <a class="btn btn-outline-blog-contact btn-lg wow rotateInDownLeft" data-wow-delay="0.4s" href="{{ site.baseurl }}/blog/">{% t index.blog-contact.button-blog %}</a>
              <a class="btn btn-outline-blog-contact btn-lg wow rotateInDownRight sound-button" data-wow-delay="0.4s" href="{{ site.baseurl }}/contact/">{% t index.blog-contact.button-contact %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
