{%- capture first-name-show -%}
{%- include element/first-name.txt -%}
{%- endcapture -%}

<section id="carousel-comentarios" class="section text-center py-5">
  <div class="container">
    <h2 class="section-heading h2 mb-4 comments-title wow flipInX" data-wow-delay="0.3s">{% t index.comments.title %}</h2>
    <div class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
      <div class="carousel-inner wow flipInY" data-wow-delay="0.5s" role="listbox">
        {% for item in site.translations[site.lang]["index"]["comments"]["slides"] %}
          {% if forloop.first == true %}
            <div class="carousel-item active">
          {% else %}
            <div class="carousel-item">
          {% endif %}

            <div class="testimonial">
              <div class="avatar" style="height:170px;">
                {% assign imgSrc = site.data.comments.images[forloop.index0] | prepend: '/assets/img/comentarios/' %}
                {% include element/img.html lazy='true' class="rounded-circle img-fluid" src=imgSrc height=170 width-original=170 alt='avatar picture' %}
              </div>
              <p><i class="quote-left"></i> {{ item.phrase | replace: '<1>', first-name-show }}</p>
              <h4 class="comments-author">{{ item.author }}</h4>
            </div>
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev left carousel-control" href="javascript:void(0);" onclick="voiding(event);" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next right carousel-control" href="javascript:void(0);" onclick="voiding(event);" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
