<section id="contact-front" style="height: 510px;">
  <div class="view hm-white-light">
    {% include element/img.html class='w-100' lazy='true' height=510 width-original=640 src='/assets/img/snow-road.jpg' alt='being my website theme related to snow, this is road, representing a path to the unknown, between me and my clients' %}
    <div class="mask">
      <div class="container flex-center">
        <div class="row mt-5 py-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="text-center">
              <h2 class="display-2 mb-2 contact-text">{% t index.contact.title %}</h2>
              <a class="btn btn-outline-contact btn-lg wow shake sound-button" data-wow-delay="0.4s" href="{{ site.baseurl }}/contact/">{% t index.contact.button %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
