{%- capture first-name-show -%}
{%- include element/first-name.txt -%}
{%- endcapture -%}

{%- capture last-name-show -%}
{%- include element/last-name.txt -%}
{%- endcapture -%}

<header>
  <div id="hero" class="view intro-1 intro hm-white-slight jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('/assets/img/brown-mountain-water.webp');">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="row mt-5">
          <div class="col-md-12 mb-3">
            <div class="text-center">
              <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s"><span class="firstname">{{ first-name-show | upcase }}</span> <span class="lastname font-bold">{{ last-name-show | upcase }}</span></h1>
              <h2 id="occupation" class="h5 font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">{% t index.occupation %}</h2>
              <a class="btn btn-light-blue btn-lg wow fadeInLeft" data-wow-delay="0.6s" href="{{ site.baseurl }}/contact/">{% t menu.pages.contact %}</a>
              {% comment %}
              <button type="button" class="btn btn-indigo btn-lg wow fadeInUp" data-wow-delay="0.6s" data-toggle="modal" data-target="#cryptoModal">{% t index.intro.encryption.mainbutton %}</button>
              {% endcomment %}
              <a class="btn btn-intro-2 btn-lg wow fadeInRight" data-wow-delay="0.6s" href="#about">{% t menu.anchor.about %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
