{%- capture first-name-show -%}
{%- include element/first-name.txt -%}
{%- endcapture -%}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <p class="h1 font-bold text-me mt-5">{% include sys/tr t='index.intro.main.me' 1=first-name-show %}</p>
            <p class="h3 text-do mb-5">{% t index.intro.main.do %}</p>
            <p class="h3 mt-1 mb-3 cor2-text">{% t index.intro.main.offer %}</p>
        </div>
    </div>
</div>
