<!-- Modal -->
<div class="modal fade" id="cryptoModal" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle"
aria-hidden="true">

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">{% t index.intro.encryption.modaltitle %}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include sys/tr t='index.intro.encryption.modaltext' 1=site.data.key.insecure %}
            </div>
            <div class="modal-footer">
                <a class="btn btn-indigo" data-wow-delay="0.6s" href="/assets/other/quantum-key.pub.asc">{% t index.intro.encryption.codecrypt %}</a>
                <a class="btn btn-primary" data-wow-delay="0.6s" href="/assets/other/key.pub.asc">{% t index.intro.encryption.pgp %}</a>
            </div>
        </div>
    </div>
</div>
