<section id="prices" style="height:500px;">
  <div class="view hm-white-light jarallax" data-jarallax-video="webm:/assets/video/typing.webm" style="height:500px; background-image: url('/assets/img/typing.webp'); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size:100%;">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="row mt-5 py-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="text-center">
              <h2 class="display-2 mb-2 text-cv">{% t index.prices.title_normal %} <strong>{% t index.prices.title_strong %}</strong></h2>
              <a class="btn btn-outline-cv btn-lg round-button wow zoomIn" data-wow-delay="0.4s" href="{{ site.baseurl }}/prices/">
                {% t index.prices.button-prices %}
              </a>
              <a class="btn btn-outline-cv btn-lg round-button wow zoomIn" data-wow-delay="0.4s" href="{{ site.baseurl }}/projects/">
                {% t index.prices.button-projects %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
