<section id="service" class="py-3">
  <div class="container text-center">
    <div class="row">
      {% for item in site.translations[site.lang]["index"]["service"] %}
      <div class="col-md-4 serviceBox my-4">
        <div class="servicesCircle d-block mx-auto">
          {% assign altText = 'being my website theme related to snow, this is a ' | append: site.data.service[ forloop.index0 ].image | append: ' representing ' | append: site.data.service[ forloop.index0 ].altTextWord  %}
          {% assign wowDelayDynamicNumber = forloop.index0 | plus: 4 %}
          {% assign wowDelay = '0.' | append: wowDelayDynamicNumber | append: 's' %}
          {% assign srcImage = '/assets/img/' | append: site.data.service[ forloop.index0 ].image %}
          {% include element/img.html lazy='true' class='img-fluid rounded-circle wow zoomIn' src=srcImage height=78 width-original=128 alt=altText data-wow-delay=wowDelay %}
        </div>
        <h3 class="text-center mt-0 serviceCardTitle">{{ item.title }}</h3>
        <div class="serviceDivide my-3 mx-auto"></div>
        <div class="text-center serviceCardText">{{ item.phrase }}</div>
      </div>
      {% endfor %}
    </div>
    <a class="btn btn-outline-service btn-lg round-button wow zoomIn" data-wow-delay="0.4s" href="{{ site.baseurl }}/prices/">
      {% t index.prices.button-prices %}
    </a>
  </div>
</section>
