{% assign sectionHeight = site.data.skill.size | times: 77 %}
{% assign sectionStyle = 'height:' | append: sectionHeight | append: 'px;' %}

<section id="skills" style="{{ sectionStyle }}">
  <div class="view hm-white-strong">
    {% include element/img.html lazy='true' class='w-100' src='/assets/img/snowboarder-alone.jpg' height=539 width-original=640 style=sectionStyle alt='being my website theme related to snow, this is snowboards, representing skill' %}
    <div class="mask">
      <div class="container pt-4 pb-3">
        <h2 class="text-center title-skills wow fadeInDown" data-wow-delay="0.2s">{% t index.skills.title %}</h2>
        <div class="wow bounceIn" data-wow-delay="0.7s">
          {% for item in site.data.skill %}
          <div class="skill-txt">{{ item.name }}</div>
          <div class="progress" role="progressbar">
            <div class="progress__bar" style="width: {{ item.percentage }}%;"><span class="progress__label">{{ item.percentage }}%</span></div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
