{%- capture my-name -%}
{%- include element/full-name.txt -%}
{%- endcapture -%}

<meta name="author" content="{%- include element/full-name.txt -%}" />

<meta name="description" content="{% include sys/tr t='description' 1=my-name %}" />
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}, {% endif %}{{ my-name | downcase }}, porto, portugal, web developer, programador software, full stack, dev, freelancer">
<link rel="canonical" href="{{ site.url }}{{ site.baseurl | remove: 'index.html' }}" />

<meta property="og:locale" content="{{ site.langTerritory[site.lang] }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{% include element/title.txt %}" />
{% if page.layout == 'post' -%}

{%- capture pretty-url -%}
{% include element/pretty-url.txt %}
{%- endcapture -%}
<meta property="og:title" content="| {{ page.title }} | {% include sys/tr-escape t='blog.seoTitle' 1=pretty-url %} |" />
<meta property="og:type" content="article" />
<meta property="og:article:published_time" content="{{- page.date | date: '%F' -}}" />
<meta property="og:article:modified_time" content="{{- page.last_modified_at | date: '%F' -}}" />
<meta property="og:article:section" content="{{- page.categories -}}" />
<meta property="og:article:author:profile:first_name" content="{%- include element/first-name.txt -%}" />
<meta property="og:article:author:profile:last_name" content="{%- include element/last-name.txt -%}" />
<meta property="og:article:author:profile:gender" content="male" />
<meta property="og:article:tag" content="" />

<meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 110 }}" />
<meta property="og:image" content="{{ site.url }}{{ site.local.image }}blog/{{ page.photo.filename }}" />

{%- else -%}

<meta property="og:title" content="| Website - {{ my-name }} |" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{% include sys/tr t='description' 1=my-name %}" />
<meta property="og:image" content="{{ site.url }}{{ site.local.image }}me.jpg" />

{%- endif %}
<meta name="msvalidate.01" content="{{ site.data.seo.webmaster_verifications.bing }}" />
<meta name="yandex-verification" content="{{ site.data.seo.webmaster_verifications.yandex }}" />
{%- assign robots = page.seo.robots | default: site.data.seo.robots | default: site.seo.robots -%}
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}

{% case layout.schema -%}

{%- when "post" -%}

{% include seo/schema.html name='post' %}

{%- when "blog" -%}

{% include seo/schema.html name='blog' %}

{%- else -%}

{% include seo/schema.html name='me' %}

{%- endcase %}
