---
layout: default
schema: blog
---
<div class="container my-5">
  <header class="text-center">
    {% include category-title.html %}
  </header>

  <div class="mt-4">

    <div class="home text-center">
      {% if site.posts.size > 0 %}
      <div class="row">
        {% for post in paginator.posts %}
        {% include component/blog-card.html %}
        {% endfor %}
      </div>

      <!-- Botoes paginacao -->
      {% if paginator.total_pages > 1 %}
      <div class="mt-5">
        {% if paginator.previous_page %}
        <a class="btn btn-outline-info waves-effect" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; {% t blog.paginate_newest %}</a>
        {% endif %}
        {% if paginator.next_page %}
        <a class="btn btn-outline-secondary waves-effect" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{% t blog.paginate_older %} &rarr;</a>
        {% endif %}
      </div>
      {% endif %}

      {% include rss-text-and-link.html %}

      {% endif %}

    </div>

  </div>
</div>
