<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include component/footer.html %}

  </body>
</html>
