---
layout: default
comments: true
schema: post
assets:
  css:
    - post.css
  js:
    - blog-post-back-button.min.js
---

{% if page.photo.filename -%}
  {%- assign imageSrc = site.local.image | append: 'blog/' | append: page.photo.filename -%}
  {%- include element/img.html src=imageSrc height=464 width-original=1280 class='img-fluid post-img w-100' alt=page.photo.alt -%}
{%- endif %}
<div class="container mt-3 mb-4">
  {%- if page.photo.creator.name -%}

    {%- case page.photo.creator.name -%}
      {%- when 'me' -%}
        {%- capture imageAuthor -%}
            {% include element/full-name.txt %}
        {%- endcapture -%}

        {%- capture imageSite -%}
            <a href="{{ site.url }}">{% include element/pretty-url.txt %}</a>
        {%- endcapture -%}

    {%- else -%}

      {%- case page.photo.site.site -%}
        {%- when 'me' -%}

            {%- capture imageSite -%}
                <a href="{{ site.url }}">{% include element/pretty-url.txt %}</a>
            {%- endcapture -%}

        {%- else -%}

            {%- capture imageAuthor -%}
              {%- if page.photo.creator.site -%}
                <a href="{{ page.photo.creator.site | escape }}">{{ page.photo.creator.name }}</a>
              {%- else -%}
                {{ page.photo.creator.name }}
              {%- endif -%}
            {%- endcapture -%}


            {%- capture imageSite -%}
              {%- if page.photo.site.site -%}
                <a href="{{ page.photo.site.site | escape }}">{{ page.photo.site.name }}</a>
              {%- else -%}
                {{ page.photo.site.name }}
              {%- endif -%}
            {%- endcapture -%}

      {%- endcase -%}

    {%- endcase -%}
    <div class="image-rights-text text-center mb-4">
      <p>{% include sys/tr t='blog.photo' 1=imageAuthor 2=imageSite %}</p>
    </div>
  {%- endif -%}
  <article class="post h-entry pt-2">

    <header class="post-header text-center">
      <h1 class="post-title p-name">{{ page.title | escape }}</h1>
      <p class="post-meta">

        {% include date-format.html date=page.date %}

        {% capture my-name -%}
        {%- include element/full-name.txt -%}
        {%- endcapture %}

        • <span>
            <span class="p-author h-card">{{ site.data.author[page.authorID].name | default: my-name }}</span>
          </span>

      </p>
    </header>
    <div class="post-content e-content">
      {{ content }}
    </div>

    {%- if page.categories.size != 0 -%}
    <div id="category-text">
      <span>
        <small>
          {%- t blog.post_categories_text -%}:&nbsp;
          {%- for category in page.categories -%}
          <a href="{{ site.baseurl | append: site.category_url | append: category }}">{{ category }}</a>
          {%- endfor -%}
        </small>
      </span>
    </div>
    {%- endif -%}

    <div class="mt-5">
      {% include component/blog-post-author-card.html author=page.authorID %}
    </div>

    <div class="text-center my-3">
      <a class="btn btn-red back-button-post" href="{{ site.baseurl }}/blog/">{% t blog.back_button %}</a>
    </div>
    {% comment %}
    {%- if site.disqus.shortname -%}
      {% include component/disqus_comments.html %}
    {%- endif -%}
    {% endcomment %}
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>
