<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <script>
      var items = {{ content }}
      var random_choice = items[Math.floor(Math.random() * items.length)];
      window.location.replace(random_choice)
    </script>
  </body>
</html>
