---
layout: clean
---

<script>
  window.open('{{ content | strip }}', '_self')
</script>

<p>This page, with JavaScript enabled, redirects to <a href="{{ content | strip | prepend: site.url }}">this page</a>.</p>
